*{
    box-sizing: border-box;
}
.h-80{
    height: 80vh;
}
.text-decoration-underline {
    text-underline-offset: 10px;
 
}
.img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}
.hover-link{
    opacity: 0.8;
    color: white;
}

.hover-link:hover{
transform: scale(1.08);
 opacity:1;
 cursor: pointer;
 color: black;

}